
{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    {% tailwind_css %}
</head>
<body>
    {% block navbar %}
    <nav class=" p-2 h-16 flex justify-between border mx-12">
        <div class="logo">
            <img src="{% static 'image/logo.png' %}" alt="" class="h-12">
        </div>
        <div class="search rounded-xl bg-slate-300 h-10 w-7/12 px-4 flex ">
            <i class="ri-search-line mt-2"></i>
            <input type="text"class="border-none bg-transparent w-full h-full border-transparent focus:outline-0" placeholder="search item's here....">
        </div>
        <div class="profile font-semibold text-lg m-3">
            <a href="#">LogIn</a>
            <a href="#" class="hidden">profile</a>
        </div>
        <div class="cart flex justify-items-center items-center rounded-lg bg-blue-300 px-5 mr-4 text-black cursor-pointer">
            <i class="ri-shopping-cart-2-fill"></i>
            <h3 class="font-semibold ">My Cart</h3>
        </div>
    </nav>
    {% endblock navbar %}
</body>
</html>