{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{% tailwind_css %}
</head>
<body>
    <div class="main">
        <nav class=" flex items-center justify-around mt-3">
            <img src="{% static 'image/logo.png' %}" alt="" class="h-16 w-20 object-contain">
            <div class="flex items-center relative w-[40%] ">
                <input type="text" id="search" class="outline-none border-none block focus:ring-blue-500 focus:border-blue-500 w-full rounded-xl  bg-gray-200 p-3" placeholder="search products..">
                <label for="search" class=" absolute right-0"><img src="{% static 'image/search.png' %}" alt="" class="h-10"></label>
            </div>
            <ul class=" flex items-center gap-9">
                <li class=" text-lg font-semibold leading-tight hover:text-green-400"><a href="{% url "base" %}">Home</a></li>
                <li class=" text-lg font-semibold leading-tight hover:text-green-400 "><a href="{% url "product" %}">Products</a></li>
                <li class=" text-lg font-semibold leading-tight hover:text-green-400"><a href="#">Profile</a></li>
            </ul>
            <div class="cart flex flex-shrink justify-between items-center rounded-lg bg-green-500 px-5 py-3 text-white cursor-pointer hover:scale-110 hover:bg-green-400">
                <i class="ri-shopping-cart-2-fill"></i>
                <h3 class="font-semibold ml-2">My Cart</h3>
            </div>
        </nav>
        <div class=" flex">
            <div class="left border-2 w-1/2 h-[50%]">
                <img src="{{ product_object.image }}" alt="">
            </div>
            <div class="right">
                <h1 class=" text-xl font-bold">{{ product_object.name }}</h1>
                <h3>4.5⭐</h3>
                <h3>{{ product_object.price }}</h3>
                <h3>Product Description</h3>
                <p class=" text-justify">{{ product_object.description }}</p>
            </div>
        </div>
    </div>
</body>
</html>